/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.navbar {
	/*padding-left: -20%;*/
}

.banner {
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://github.com/Jfrederick12/Dyer_Laser_Training_Store/blob/master/app/assets/images/dyerbanner.jpg?raw=true");
	background-size: cover;
	height: 100vh;
	width: 100%;
	z-index: 1000;
	overflow: auto;
}

.main-container {
	display: flex;
	justify-content: space-between;
}

.product-info {
	color: white;
	background: #f2b632;
  width: 30%;
  padding: 20px;
}

.info-box {
	/*border: 1px solid white;*/
}

.product-info h3 {
	border-bottom: 1px solid white;
	padding-bottom: 20px;
}

.product-info li {
	text-align: left;
	padding-bottom: 10px;
}

.product-info p {
	text-align: left;
}

.product-container {
	background: #f6f1ed;
	width: 70%;
	padding: 20px;
}

@media (max-width: 400px) {
  .main-container {
    display: block;
    width: 100%;

    .product-info {
      width: 100%;
      margin: 0 0 10px 0;
    }

    .product-container {
    	width: 100%;
      margin: 0 0 10px 0;
    }
  }
}

