.contact-container {	
	display: flex;
	justify-content: space-between;
	background-color: #252839;
}

.contact-container div {
	width: 50%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-container section {
	width: 80%;
	align-self: flex-start;
}

section {
	padding-bottom: 20px;
}

section p {
	font-family: 'Pavanam', sans-serif;
	font-size: 18px;
	color: white;
}

section h2 {
	font-family: 'Pavanam', sans-serif;
	color: white;
	font-size: 36px;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}

section i {
	padding-right: 10px;
}

section nav {
  padding-top: 20px;
  display: inline-block;
}

section nav:last-child {
	padding: 0;
}

section a:visited {
	color: white;
}

section a {
	padding-right: 20px;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
  color: white;
  text-decoration: none;
	transition: color 0.5s ease;
}

section a:hover {
    color: #ffd149;
    text-decoration: none;
    transition: color 0.5s ease;
}

section nav p {
	padding-top: 10px;
	font-size: 16px;
}

.contact-right {

}
/*section i {
	padding-left: 50px;
	text-align: center;
	color: white;
}*/