.contact-container {	
	display: flex;
	justify-content: space-between;
	background-color: #252839;
}

.contact-container div {
	width: 50%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-container section {
	width: 80%;
	align-self: flex-start;
}

section {
	padding-bottom: 20px;
}

section p {
	font-family: 'Pavanam', sans-serif;
	font-size: 18px;
	color: white;
}

section h2 {
	font-family: 'Pavanam', sans-serif;
	color: #f2b632;
	font-size: 36px;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}

section i {
	padding-right: 10px;
}

section nav {
  padding-top: 20px;
  display: inline-block;
}

section nav:last-child {
	padding: 0;
}

section a:visited {
	color: white;
}

section a {
	padding-right: 20px;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
  color: white;
  text-decoration: none;
	transition: color 0.5s ease;
}

section a:hover {
    color: #ffd149;
    text-decoration: none;
    transition: color 0.5s ease;
}

section nav p {
	padding-top: 10px;
	font-size: 16px;
}

/*iPhone6*/
@media only screen and (min-device-width: 375px) and (max-device-width: 750px) { 
	.contact-container {
		display: block;
		height: 70vh;
	}

	.contact-container div {
		width: 100%;
	}

	.contact-container p {
		padding: 20px;
		font-size: 40px;
	}

	.contact-container h2 {
		padding: 20px;
		font-size: 60px;
		border: none;
	}

	.contact-container a {
		padding-left: 10px;
		font-size: 40px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 570px) { 
	.contact-container {
		display: block;
		height: 70vh;
	}

	.contact-container div {
		width: 100%;
	}

	.contact-container p {
		padding: 20px;
		font-size: 40px;
	}

	.contact-container h2 {
		padding: 20px;
		font-size: 60px;
		border: none;
	}

	.contact-container a {
		padding-left: 10px;
		font-size: 40px;
	}
}
/*section i {
	padding-left: 50px;
	text-align: center;
	color: white;
}*/