.doctor-container {	
	display: flex;
	justify-content: space-between;
	background-color: #f6f1ed;
}

.doctor-container div {
	color: #252839;
	width: 50%;
	padding: 25px;
	font-family: 'Pavanam', sans-serif;
	font-size: 20px;
}

.doctor-container div:first-child {
	background-image: url("https://github.com/Jfrederick12/Dyer_Laser_Training_Store/blob/contact-page/app/assets/images/bretportrait.jpg?raw=true");
	width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.doctor-container h4 {
	font-size: 26px;
	font-family: 'Pavanam', sans-serif;
	padding-bottom: 5px;
	color: #f2b632;
}

.doctor-container i {
	padding-right: 10px;
}

@media (max-width: 820px) {
	.doctor-container {
	  display: block;
	}

	.doctor-container div {
		width: 100%;
	}

	.doctor-container div:first-child {
		width: 100%;
		height: 800px;
	}
}

@media (min-width: 1200px) {
	.doctor-container {
		height: 600px;
	}
	.doctor-container div:first-child {
		max-width: 40%;
	}

	.doctor-container div:last-child {
		width: 60%;
	}
}

/*iPhone6*/
@media only screen and (min-device-width : 375px) and (max-device-width : 750px) { 
	.doctor-container {
		display: block;
	}

	.doctor-container div:first-child {
		background-image: url("https://github.com/Jfrederick12/Dyer_Laser_Training_Store/blob/contact-page/app/assets/images/bretportrait.jpg?raw=true");
		width: 100%;
		height: 1000px;
	}

	.doctor-container div {
		width: 100%;
	}

	.doctor-container p {
		padding: 20px;
		font-size: 40px;
	}

	.doctor-container h4 {
		padding: 20px;
		font-size: 60px;
	}
}

/*iPhone5*/
@media only screen and (min-device-width : 320px) and (max-device-width : 570px) { 
	.doctor-container {
		display: block;
	}

	.doctor-container div:first-child {
		background-image: url("https://github.com/Jfrederick12/Dyer_Laser_Training_Store/blob/contact-page/app/assets/images/bretportrait.jpg?raw=true");
		width: 100%;
		height: 1000px;
	}

	.doctor-container div {
		width: 100%;
	}

	.doctor-container p {
		padding: 20px;
		font-size: 40px;
	}

	.doctor-container h4 {
		padding: 20px;
		font-size: 60px;
	}
}