.product-content {
	background-color: white;
	padding: 20px;
	margin-bottom: 20px;
}

.product-content:last-child {
	border: none;
	margin-bottom: 0px;
}

.product-content h3 {
	color: #252839;
}

.product-content em {
	font-size: 20px;
}

.checkout-button {
	padding-top: 10px;
}