.product-content {
	background-color: white;
	margin-bottom: 20px;
}

.product-content:last-child {
	border: none;
	margin-bottom: 0px;
}

.product-header p {
	color: white;
	font-size: 20px;
	padding: 10px 0px 10px 15px;
}

.product-header {
	background-color: #677077;
}

.product-box {
	padding: 5px 15px 0px 15px;
}

.product-box li {
	margin-left: -25px;
	font-size: 18px;
	list-style: none;
}

.product-box i {
	padding-right: 10px;
}

.product-box li:last-child {
	padding-top: 10px;
	padding-bottom: 10px;
}

.fa-check{
	color: #677077;
}

.fa-money{
	color: #677077;
}

.tagline {
	padding-bottom: 5px;
}

.checkout-button {
	padding-top: 10px;
}

.product-links div {
	display: inline-block;
	padding-right: 20px;
}

.video-modal i {
	margin-left: 24px;
}

.video-modal a {
	color: #f2b632;
	cursor: pointer;
	transition: color 0.3s ease;
}

.video-modal a:hover {
	color: #677077;
	cursor: pointer;
	text-decoration: none;
	transition: color 0.3s ease;
}

.payment-button {
	color: #f2b632;
}

.payment-button i {
	margin-left: 14px;
}

.payment-button {
	color: #f2b632;
	cursor: pointer;
	transition: color 0.3s ease;
}

.payment-button:hover {
	color: #677077;
	cursor: pointer;
	text-decoration: none;
	transition: color 0.3s ease;
}