.modal-content {
	margin-top: 20%;
}

.header i {
	color: white;
}

.header button {
	background-color: transparent;
	padding: 10px;
	border: none;
	transition: color 0.3s ease;
}

.header i:hover {
	color: #f2b632;
	cursor: pointer;
	transition: color 0.3s ease;
}

.video-player {
	margin-top: 10%;
	width: 100%;
	height: 70%;
}


.modal {
	background-color: transparent;
}

.modalbg {
	position: fixed;
	display: flex;
	align-items: center;
  justify-content: center;
}

.payment-modal {
	width: 100%;
	background-color: white;
	margin-top: 10%;
	align-self: flex-start;
	border-radius: 5px;
	padding: 10px;
}

.payment-modal h3 {
	border-bottom: 1px solid black;
}

.payment-header {
	position: relative;
	margin-left: 90%;
}

.payment-modal p {
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

.payment-modal h4:last-child {
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
}

